# Siniestros Viales

***
***

### Importar librerias

In [1]:
# Importa libreria
import pandas as pd

***

### Lectura del archivo homicidios.xlsx

In [20]:
# Lectura el archivo Excel
siniestros_viales = pd.read_excel('Data/homicidios.xlsx', sheet_name=['HECHOS', 'DICCIONARIO_HECHOS', 'VICTIMAS', 'DICCIONARIO_VICTIMAS', 'clas'])

***
### Generar los DataFrame

In [3]:
# Conviete cada hoja del Excel en DataFrame
hechos = pd.DataFrame(siniestros_viales['HECHOS'])

In [4]:
# Conviete cada hoja del Excel en DataFrame
diccionario_hechos = pd.DataFrame(siniestros_viales['DICCIONARIO_HECHOS'])

In [5]:
# Conviete cada hoja del Excel en DataFrame
victimas = pd.DataFrame(siniestros_viales['VICTIMAS'])

In [6]:
# Conviete cada hoja del Excel en DataFrame
diccionario_victimas = pd.DataFrame(siniestros_viales['DICCIONARIO_VICTIMAS'])

In [21]:
# Conviete cada hoja del Excel en DataFrame
tipo_usuario_via = pd.DataFrame(siniestros_viales['clas'])

***
### Visualizacion de los DataFrame e informacion de los mismos en general

In [8]:
hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

In [9]:
hechos.head()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

***
### Visualizacion de los DataFrame e informacion de los mismos en general

In [10]:
victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    datetime64[ns]
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL                  717 non-null    object
 6   VICTIMA              717 non-null    object
 7   SEXO                 717 non-null    object
 8   EDAD                 717 non-null    object
 9   FECHA_FALLECIMIENTO  717 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 56.1+ KB

In [11]:
victimas.head()

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00

***
### Visualizacion de los DataFrame e informacion de los mismos en general

In [12]:
tipo_usuario_via.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Original_victima         17 non-null     object
 1   LESIONES                 17 non-null     object
 2   FATALES INFORME ANUAL    17 non-null     object
 3   Unnamed: 3               0 non-null      float64
 4   Original_acusado         28 non-null     object
 5   LESIONES.1               28 non-null     object
 6   FATALES INFORME ANUAL.1  28 non-null     object
dtypes: float64(1), object(6)
memory usage: 1.7+ KB

In [22]:
tipo_usuario_via.head()

,Original_victima,LESIONES,FATALES INFORME ANUAL,Original_acusado,LESIONES.1,FATALES INFORME ANUAL.1
0,PEATON,PEATON,PEATON,TRANSPORTE PUBLICO,TRANSPORTE PUBLICO,PASAJEROS
1,PEATON,PEATON,PEATON,SIN DATOS,SD,SIN DATOS
2,MOTO,MOTO,MOTO,AUTO PARTICULAR,AUTO,AUTO
3,AUTO,AUTO,AUTO,MOTO,MOTO,MOTO
4,AUTO PARTICULAR,AUTO,AUTO,CAMION,CAMION,CARGAS

***
### Visualizacion de los DataFrame e informacion de los mismos en general

In [14]:
diccionario_hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   variables y definiciones  21 non-null     object
 1   descripción               21 non-null     object
 2   Variables                 4 non-null      object
 3   valores                   23 non-null     object
 4   descripción.1             23 non-null     object
dtypes: object(5)
memory usage: 1.0+ KB

In [15]:
diccionario_hechos.head()

,variables y definiciones,descripción,Variables,valores,descripción.1
0,ID,identificador unico del siniestro,TIPO_DE_CALLE,calle,Arteria cuya calzada tiene un ancho comprendid...
1,N_VICTIMAS,cantidad de víctimas,NaN,avenida,Arteria cuya calzada tiene un ancho total de p...
2,FECHA,fecha en formato dd/mm/aaaa,NaN,autopista,Vía multicarril con calzadas para ambas manos ...
3,AAAA,año,NaN,general paz,"Avenida General Paz, ambos sentidos. Incluye i..."
4,MM,mes,VICTIMA,PEATON,Víctima distinta de cualquier ocupante de un v...

***
### Visualizacion de los DataFrame e informacion de los mismos en general

In [16]:
diccionario_victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   variables y definiciones  10 non-null     object
 1   descripción               10 non-null     object
 2   Variables                 1 non-null      object
 3   valores                   9 non-null      object
 4   descripción.1             9 non-null      object
dtypes: object(5)
memory usage: 528.0+ bytes

In [17]:
diccionario_victimas.head()

,variables y definiciones,descripción,Variables,valores,descripción.1
0,ID_hecho,identificador unico del siniestro,VICTIMA,PEATON,Víctima distinta de cualquier ocupante de un v...
1,FECHA,fecha en formato dd/mm/aaaa,NaN,MOTO,Vehículo a motor no carrozado que incluye moto...
2,AAAA,año,NaN,AUTO,Vehículo a motor destinado al transporte de pe...
3,MM,mes,NaN,CARGAS,Vehículo a motor destiando al transporte de ca...
4,DD,día del mes,NaN,BICICLETA,"Vehículo con al menos dos ruedas, que generalm..."

***
### Guardar los dataframes por separado

In [19]:
# Guarda en Excel los DataFrame por separado
hechos.to_excel('hechos.xlsx', index=False)
diccionario_hechos.to_excel('diccionario_hechos.xlsx', index=False)
victimas.to_excel('victimas.xlsx', index=False)
diccionario_victimas.to_excel('diccionario_victimas.xlsx', index=False)
tipo_usuario_via.to_excel('tipo_usuario_via.xlsx', index=False)

***
***