# Hechos:
***
***

### Importar libreras

In [1]:
# Importa Librerias
import pandas as pd
import numpy as np

***
### Lectura y asignacion de Variable

In [2]:
# Se carga el Excel en DataFrame en una Variable
hechos = pd.read_excel('Data\hechos.xlsx')

***
### Configuracion Visual observar completos los DataFrame

In [3]:
# Seteo para ver completamenta las columnas y las filas
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

***
### Informacion general y visualizacion del DataFrame hechos

In [4]:
hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

In [5]:
hechos.head()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.",NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,ENTRE RIOS AV.,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,LARRAZABAL AV.,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,SAN JUAN AV.,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

In [6]:
# Verificar que el numero de comunas sean correcto
numero_comunas = hechos['COMUNA'].unique()
numero_comunas_ordenado = sorted(numero_comunas)  # Ordenar la lista de comunas únicas

print("Comunas únicas ordenadas:", numero_comunas_ordenado)
print("Número de comunas:", len(numero_comunas_ordenado))

Comunas únicas ordenadas: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
Número de comunas: 16

In [7]:
# Identificar las comunas con nemero '0'
print(hechos[hechos['COMUNA'] == 0])

            ID  N_VICTIMAS      FECHA  AAAA  MM  DD      HORA  HH  \
119  2016-0151           1 2016-11-18  2016  11  18  20:35:00  20
139  2016-0174           1 2016-12-27  2016  12  27  00:00:00   0

          LUGAR_DEL_HECHO TIPO_DE_CALLE                 Calle  Altura Cruce  \
119                    SD         CALLE                   NaN     NaN   NaN
139  AUTOPISTA 25 DE MAYO     AUTOPISTA  AUTOPISTA 25 DE MAYO     NaN   NaN

    Dirección Normalizada  COMUNA    XY (CABA) pos x pos y PARTICIPANTES  \
119                   NaN       0  Point (. .)     .     .     PEATON-SD
139  AUTOPISTA 25 DE MAYO       0  Point (. .)     .     .         SD-SD

    VICTIMA ACUSADO
119  PEATON      SD
139      SD      SD

- Identificar  los datos con valores '0' para contemplar, que se tengan en cuenta para su posterior tratamiento

***
### Agrega informacion complementaria de los nombres de Barrios y Area

- Informacion sobre las comunas obtenida de "URL": https://data.buenosaires.gob.ar/dataset/comunas

In [8]:
# Se carga el Excel en DataFrame en una Variable
comunas_barrios_area = pd.read_excel('Data\comunas_barrios_area.xlsx')

***
### Agrega informacion complementaria de los cantidad de habitantes

- Informacion sobre las comunas obtenida de "URL": https://data.buenosaires.gob.ar/dataset/estructura-demografica/resource/a24fc775-ad6e-4bb0-8a7a-2283c2adea34-xlsx

In [9]:
# Se carga el Excel en DataFrame en una Variable
comunas_habitantes = pd.read_excel('Data\comunas_habitantes.xlsx')

***
### Informacion general y visualizacion del DataFrame comunas_barrios_area y comunas_habitantes

In [10]:
comunas_barrios_area.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         15 non-null     int64
 1   OBJETO     15 non-null     object
 2   COMUNAS    15 non-null     int64
 3   BARRIOS    15 non-null     object
 4   PERIMETRO  15 non-null     float64
 5   AREA       15 non-null     float64
dtypes: float64(2), int64(2), object(2)
memory usage: 848.0+ bytes

In [11]:
comunas_barrios_area.head()

,ID,OBJETO,COMUNAS,BARRIOS,PERIMETRO,AREA
0,1,LIMITE COMUNAL,2,RECOLETA,21452.838648,6.317265e+06
1,2,LIMITE COMUNAL,5,ALMAGRO - BOEDO,12323.432479,6.660603e+06
2,3,LIMITE COMUNAL,6,CABALLITO,10990.964471,6.851029e+06
3,4,LIMITE COMUNAL,7,FLORES - PARQUE CHACABUCO,17972.257870,1.242290e+07
4,5,LIMITE COMUNAL,9,LINIERS - MATADEROS - PARQUE AVELLANEDA,21411.738344,1.650531e+07

In [12]:
comunas_habitantes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   COMUNA     15 non-null     int64
 1   POBLACION  15 non-null     int64
dtypes: int64(2)
memory usage: 368.0 bytes

In [13]:
comunas_habitantes.head()

   COMUNA  POBLACION
0       1     253271
1       2     149720
2       3     192763
3       4     238809
4       5     186956

***
***
## DataFrame "hechos":

### Registros duplicados:

In [14]:
# Controla los duplicados
hechos_duplicados = hechos.duplicated()
print(f'Cantidad de registros duplicados: {hechos_duplicados.sum()}')

Cantidad de registros duplicados: 0

***
### Valores Nulos:

In [15]:
# Buscar los valores nulos de las columnas
valores_nulos_hechos = hechos.isna().sum()

for columna, cantidad_nulos in valores_nulos_hechos.items():
    if cantidad_nulos > 0:
        print(f"{columna}: {cantidad_nulos} valores nulos")
        
print(f'\nValores nulos totales: {valores_nulos_hechos.sum()}')

Calle: 1 valores nulos
Altura: 567 valores nulos
Cruce: 171 valores nulos
Dirección Normalizada: 8 valores nulos

Valores nulos totales: 747

In [16]:
# Verificar los regitros nulos en ambas columnas y compararlos con el total
datos_nulos_comparados = hechos[(hechos['Altura'].isna()) & (hechos['Cruce'].isna() )]
datos_nulos_comparados_total = datos_nulos_comparados.shape[0]
hechos_registros = hechos.shape[0]
print(f'La cantidad Total de registros es : {hechos_registros}\nCantidad de registros completos son : {hechos_registros -datos_nulos_comparados_total}\nEl número de filas donde "Altura" y "Cruce" donde ambos tienen valores nulos es : {datos_nulos_comparados_total}')

La cantidad Total de registros es : 696
Cantidad de registros completos son : 654
El número de filas donde "Altura" y "Cruce" donde ambos tienen valores nulos es : 42

- Se parean las columnas 'Altura' y 'Cruce' para verificar si existen registros con valores nulos en ambas columnas. Esto se hace para verificar que se tengan los datos completos de las direcciones.

In [17]:
# Registros sin datos de direccion
hechos_sin_direccion = hechos[(hechos['Dirección Normalizada'].isna() & hechos['Altura'].isna()) & (hechos['Cruce'].isna())]
hechos_sin_direccion_total = hechos_sin_direccion.shape[0]
print(f'Cantidad de registros sin datos sobre la "Dirección Normalizada", "Altura" y "Cruce" en el mismo registro: {hechos_sin_direccion_total}')
hechos_sin_direccion.head(8)

Cantidad de registros sin datos sobre la "Dirección Normalizada", "Altura" y "Cruce" en el mismo registro: 8

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
38,2016-0052,1,2016-04-20,2016,4,20,20:00:00,20,AUTOPISTA LUGONES PK 10000,AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,NaN,13,Point (. .),.,.,MOTO-SD,MOTO,SD
106,2016-0136,1,2016-10-25,2016,10,25,00:00:00,0,AU BUENOS AIRES - LA PLATA KM. 4,AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,NaN,NaN,NaN,4,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
119,2016-0151,1,2016-11-18,2016,11,18,20:35:00,20,SD,CALLE,NaN,NaN,NaN,NaN,0,Point (. .),.,.,PEATON-SD,PEATON,SD
180,2017-0050,2,2017-04-28,2017,4,28,11:08:08,11,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,AUTOPISTA PERITO MORENO,NaN,NaN,NaN,9,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS
181,2017-0051,1,2017-05-01,2017,5,1,03:47:47,3,AU DELLEPIANE 2400,AUTOPISTA,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,NaN,NaN,NaN,7,Point (. .),.,.,AUTO-AUTO,AUTO,AUTO
313,2018-0039,1,2018-04-21,2018,4,21,22:15:00,22,AUTOPISTA LUGONES KM 4.7,AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,NaN,14,Point (. .),.,.,PEATON-AUTO,PEATON,AUTO
546,2020-0026,1,2020-05-17,2020,5,17,06:40:00,6,"LUGONES, LEOPOLDO AV. KM 6,1",AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,NaN,14,Point (. .),.,.,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO
621,2021-0023,1,2021-03-01,2021,3,1,09:20:00,9,"AU BUENOS AIRES LA PLATA KM 4,5",AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,NaN,NaN,NaN,4,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS

### Rellenar los valores nulos de la columna 'Dirección Normalizada'

In [18]:
# Imputa Valores Nulos de la columna  'Dirección Normalizada'
hechos_sin_direccion['Dirección Normalizada'].fillna(hechos_sin_direccion['Calle'], inplace=True)

C:\Users\Blasferp\AppData\Local\Temp\ipykernel_10020\4240963190.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hechos_sin_direccion['Dirección Normalizada'].fillna(hechos_sin_direccion['Calle'], inplace=True)

In [19]:
# Cantidad de nulos en la direccion
print(f"Cantidad de datos sin direcion antriormente : {valores_nulos_hechos['Dirección Normalizada']}\nCantidad de datos sin direcion luego de imputacion : {hechos['Dirección Normalizada'].isna().sum()}")

Cantidad de datos sin direcion antriormente : 8
Cantidad de datos sin direcion luego de imputacion : 8

- Al completar los datos de la columna 'Dirección Normalizada' con la información de la columna 'Calle', se tiene mayor informacion sobre los sinisetros.

### Extraer los valores de ubicacion como km o pk para para completar los datos de la columna 'Dirección Normalizada' asi tener lo datos completos

In [20]:
# Modifica el tipo de variable de la columna
hechos['LUGAR_DEL_HECHO'] = hechos['LUGAR_DEL_HECHO'].astype(str)

# Extraer 'KM' y el número completo, 'PK' y el número completo, o 'AU69AU/8'
km_pk_AU69AU = r'(?:(\b(?:KM|PK)(?:\.\s\d+|\s\d+(?:,\d+)?)?|AU69AU/8)\b)'

# Aplicar la expresión regular a la columna 'LUGAR_DEL_HECHO'
hechos['KM_PK_EXTRAIDO'] = hechos['LUGAR_DEL_HECHO'].str.extract(km_pk_AU69AU)

# Filtrar las filas donde 'KM_PK_EXTRAIDO' no es None
filas_con_km_pk = hechos[hechos['KM_PK_EXTRAIDO'].notna()]

# Imprimir el resultado
print(filas_con_km_pk[['LUGAR_DEL_HECHO', 'KM_PK_EXTRAIDO']])

                                       LUGAR_DEL_HECHO KM_PK_EXTRAIDO
35   AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI KM....          KM. 0
38                          AUTOPISTA LUGONES PK 10000       PK 10000
71        AUTOPISTA DELLEPIANE LUIS TTE. GRAL. KM. 2,3          KM. 2
91          AUTOPISTA 1 SUR PTE ARTURO FRONDIZI KM 2.9           KM 2
106                   AU BUENOS AIRES - LA PLATA KM. 4          KM. 4
168                               AV. GRAL. PAZ KM. 10         KM. 10
218  AV. LEOPOLDO LUGONES KM 7,5, ALTURA PUENTE SCA...         KM 7,5
281                           AU Perito Moreno  KM 0.6           KM 0
313                           AUTOPISTA LUGONES KM 4.7           KM 4
365  AU Perito Moreno KM 1.8 ALTURA BARRAGAN SENTID...           KM 1
513                     AUTOPISTA PERITO MORENO KM 5,6         KM 5,6
546                       LUGONES, LEOPOLDO AV. KM 6,1         KM 6,1
599                                  AU FRONDIZI KM. 3          KM. 3
601                              AU 25 DE MAYO KM. 3,7          KM. 3
621                   AU BUENOS AIRES LA PLATA  KM 4,5         KM 4,5
655           AU ILLIA KM 3.2, ALTURA CABINAS DE PEAJE           KM 3
665                 AU FRONDIZI KM 2,9 (ALTURA BRASIL)         KM 2,9

In [21]:
# Crea una lista con los indices de de lod registros con Valores Nulos en columnas que brindan ubicacion
indices = hechos_sin_direccion.index.tolist()
print(indices)

[38, 106, 119, 180, 181, 313, 546, 621]

In [22]:
# Filtrar las filas con los índices específicos
filas_filtradas = filas_con_km_pk.loc[filas_con_km_pk.index.isin(indices)]

# Imprimir el resultado
print(filas_filtradas[['LUGAR_DEL_HECHO', 'KM_PK_EXTRAIDO']])

                      LUGAR_DEL_HECHO KM_PK_EXTRAIDO
38         AUTOPISTA LUGONES PK 10000       PK 10000
106  AU BUENOS AIRES - LA PLATA KM. 4          KM. 4
313          AUTOPISTA LUGONES KM 4.7           KM 4
546      LUGONES, LEOPOLDO AV. KM 6,1         KM 6,1
621  AU BUENOS AIRES LA PLATA  KM 4,5         KM 4,5

In [23]:
# filtra los Datos de la columna 'KM_PK_EXTRAIDO'
filas_filtradas_2 = filas_filtradas['KM_PK_EXTRAIDO']
filas_filtradas_2

38     PK 10000
106       KM. 4
313        KM 4
546      KM 6,1
621      KM 4,5
Name: KM_PK_EXTRAIDO, dtype: object

In [24]:
# Actualizar 'Dirección Normalizada' con los datos de 'filas_filtradas_2'
hechos.loc[filas_filtradas_2.index, 'Dirección Normalizada'] += filas_filtradas_2

# Imprimir el DataFrame actualizado para filas específicas
print(hechos.loc[indices, ['Dirección Normalizada']])

    Dirección Normalizada
38                    NaN
106                   NaN
119                   NaN
180                   NaN
181                   NaN
313                   NaN
546                   NaN
621                   NaN

In [25]:
# Controlar cuantos Regitros quedaron sin datos de ubicacion
hechos_sin_direccion_incompletos = hechos[hechos['Dirección Normalizada'].isna()]
# Obtener la lista de índices
indices_sin_direccion = hechos_sin_direccion_incompletos.index.tolist()
print(f'Registros sin dirección normalizada: {len(hechos_sin_direccion_incompletos)}\n')
print(f'Índices: {indices_sin_direccion}\n')
print(f'Detalles:\n{hechos_sin_direccion_incompletos}')

Registros sin dirección normalizada: 8

Índices: [38, 106, 119, 180, 181, 313, 546, 621]

Detalles:
            ID  N_VICTIMAS      FECHA  AAAA  MM  DD      HORA  HH  \
38   2016-0052           1 2016-04-20  2016   4  20  20:00:00  20
106  2016-0136           1 2016-10-25  2016  10  25  00:00:00   0
119  2016-0151           1 2016-11-18  2016  11  18  20:35:00  20
180  2017-0050           2 2017-04-28  2017   4  28  11:08:08  11
181  2017-0051           1 2017-05-01  2017   5   1  03:47:47   3
313  2018-0039           1 2018-04-21  2018   4  21  22:15:00  22
546  2020-0026           1 2020-05-17  2020   5  17  06:40:00   6
621  2021-0023           1 2021-03-01  2021   3   1  09:20:00   9

                             LUGAR_DEL_HECHO TIPO_DE_CALLE  \
38                AUTOPISTA LUGONES PK 10000     AUTOPISTA
106         AU BUENOS AIRES - LA PLATA KM. 4     AUTOPISTA
119                                       SD         CALLE
180  AU PERITO MORENO Y RAMAL ENLACE AU1/AU6     AUTOPISTA
181                       AU DELLEPIANE 2400     AUTOPISTA
313                 AUTOPISTA LUGONES KM 4.7     AUTOPISTA
546             LUGONES, LEOPOLDO AV. KM 6,1     AUTOPISTA
621         AU BUENOS AIRES LA PLATA  KM 4,5     AUTOPISTA

                                    Calle  Altura Cruce Dirección Normalizada  \
38                  LUGONES, LEOPOLDO AV.     NaN   NaN                   NaN
106     AUTOPISTA BUENOS AIRES - LA PLATA     NaN   NaN                   NaN
119                                   NaN     NaN   NaN                   NaN
180               AUTOPISTA PERITO MORENO     NaN   NaN                   NaN
181  AUTOPISTA DELLEPIANE LUIS TTE. GRAL.     NaN   NaN                   NaN
313                 LUGONES, LEOPOLDO AV.     NaN   NaN                   NaN
546                 LUGONES, LEOPOLDO AV.     NaN   NaN                   NaN
621     AUTOPISTA BUENOS AIRES - LA PLATA     NaN   NaN                   NaN

     COMUNA    XY (CABA) pos x pos y     PARTICIPANTES VICTIMA      ACUSADO  \
38       13  Point (. .)     .     .           MOTO-SD    MOTO           SD
106       4  Point (. .)     .     .       MOTO-CARGAS    MOTO       CARGAS
119       0  Point (. .)     .     .         PEATON-SD  PEATON           SD
180       9  Point (. .)     .     .       MOTO-CARGAS    MOTO       CARGAS
181       7  Point (. .)     .     .         AUTO-AUTO    AUTO         AUTO
313      14  Point (. .)     .     .       PEATON-AUTO  PEATON         AUTO
546      14  Point (. .)     .     .  MOTO-OBJETO FIJO    MOTO  OBJETO FIJO
621       4  Point (. .)     .     .       MOTO-CARGAS    MOTO       CARGAS

    KM_PK_EXTRAIDO
38        PK 10000
106          KM. 4
119            NaN
180            NaN
181            NaN
313           KM 4
546         KM 6,1
621         KM 4,5

- Se pudo completar casi todos los valores nulos de la columna 'Dirección Normalizada', dejando solo 1 registro, del cual solo se tiene daos, el cual es que la victima es peaton.

***
### Imputar los valores faltantes de las columnas que poseen coordenadas

- Verificar el contenido de los regitros faltantes

In [26]:
# Observar los valores en la columan 'XY (CABA)'
xy_sin_datos = hechos['XY (CABA)'].value_counts().head()
print(xy_sin_datos)

XY (CABA)
Point (. .)                               14
Point (101721.59002217 93844.25656649)     5
Point (96563.66494817 108815.73881056)     4
Point (99620.34936816 110483.29286598)     4
Point (95832.05571093 95505.41641999)      4
Name: count, dtype: int64

In [27]:
# Observar los valores en la columan 'pos x'
pos_x_sin_datos = hechos['pos x'].value_counts().head()
print(pos_x_sin_datos)

pos x
.               12
-58.44451316     5
-58.50073810     4
-58.46743471     4
-58.50877521     4
Name: count, dtype: int64

In [28]:
# Observar los valores en la columan 'pos y'
pos_y_sin_datos = hechos['pos y'].value_counts().head()
print(pos_y_sin_datos)

pos y
.               12
-34.68475866     5
-34.54979510     4
-34.53476874     4
-34.66977709     4
Name: count, dtype: int64

In [29]:
indices_xy_caba_sd_hechos_comuna = hechos[hechos['XY (CABA)'] == 'Point (. .)'].index.to_list()
indices_xy_caba_sd_hechos_comuna

[35, 38, 71, 106, 119, 139, 176, 180, 181, 256, 313, 546, 559, 621]

In [30]:
x_indice = hechos[hechos['pos x'] == '.'].index.to_list()
x_indice

[38, 106, 119, 139, 176, 180, 181, 256, 313, 546, 559, 621]

In [31]:
y_indice = hechos[hechos['pos y'] == '.'].index.to_list()
y_indice

[38, 106, 119, 139, 176, 180, 181, 256, 313, 546, 559, 621]

In [32]:
# Compara los indices de registros faltantes
compara_indice_iguales_xy = y_indice == x_indice

if compara_indice_iguales_xy:
    print("Las listas de índices son iguales.")
else:
    print("Las listas de índices no son iguales.")

Las listas de índices son iguales.

In [33]:
# Comparar las listaspara verificar que registros tiene en comun
compara_indices = set(indices_xy_caba_sd_hechos_comuna) - set(y_indice)

print(f'Cantidad de registros faltantes en XY (CABA): {len(indices_xy_caba_sd_hechos_comuna)}')
print(f'Cantidad de registros faltantes en pos x: {len(x_indice)}')
print(f'Cantidad de registros faltantes en pos y: {len(y_indice)}')
print(f'Diferencia entre los indices: {len(compara_indices)}')

Cantidad de registros faltantes en XY (CABA): 14
Cantidad de registros faltantes en pos x: 12
Cantidad de registros faltantes en pos y: 12
Diferencia entre los indices: 2

***
### Buscar las coordenadas faltantes e imputar los datos con libreria 'Nominatim'

In [34]:
## cargar la libreria
from geopy.geocoders import Nominatim

In [35]:
# Funcion para obtener 'Latitud' y 'Longitud'
def obtener_coordenadas_nominatim(direccion):
    geolocalizador = Nominatim(user_agent="mi_aplicacion")
    ubicacion = geolocalizador.geocode(direccion)
    
    if ubicacion:
        latitud, longitud = ubicacion.latitude, ubicacion.longitude
        return latitud, longitud
    else:
        print(f"No se pudieron obtener las coordenadas para {direccion}")
        return None

In [36]:
# Lista para almacenar las direcciones unicamente
direccion_incompleta = []

# Lista para almacenar las direcciones
direcciones_guardadas = []

# Lista para almacenar las coordenadas
coordenadas_guardadas = []

for i in indices_xy_caba_sd_hechos_comuna:
    direccion_normalizada = hechos.iloc[i]["Dirección Normalizada"]
    
    if isinstance(direccion_normalizada, (float, int)):
        continue
    
    direccion_incompleta.append(direccion_normalizada)    
    direccion_completa = str(direccion_normalizada + ', CABA, Argentina')
    
    # Agregar la dirección completa a la lista
    direcciones_guardadas.append(direccion_completa)

    # Obtener las coordenadas y agregarlas a la lista
    coordenadas = obtener_coordenadas_nominatim(direccion_completa)
    if coordenadas:
        coordenadas_guardadas.append(coordenadas)

# Dieccions que se enconntaron
for direccion, coordenadas in zip(direcciones_guardadas, coordenadas_guardadas):
    print(f"{direccion}: {coordenadas}")

No se pudieron obtener las coordenadas para AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI, CABA, Argentina
No se pudieron obtener las coordenadas para AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI, CABA, Argentina
AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI, CABA, Argentina: (-34.6678229, -58.4749502)
AUTOPISTA DELLEPIANE LUIS TTE. GRAL., CABA, Argentina: (-34.6258984, -58.4012325)
AUTOPISTA 25 DE MAYO, CABA, Argentina: (-34.5624705, -58.4166009)
LUGONES, LEOPOLDO AV., CABA, Argentina: (-34.6451927, -58.5166563)

### Se imputan las coordenadas que se encontraron a la base de datos

In [37]:
for direccion, coordenadas in zip(direccion_incompleta, coordenadas_guardadas):
    ind = hechos[hechos['Dirección Normalizada'] == direccion].index
    hechos.loc[ind, 'pos y'] = coordenadas[0]
    hechos.loc[ind, 'pos x'] = coordenadas[1]

***
### Visualizacion de la transformacion de los DataFrames

In [38]:
hechos['pos y'].value_counts().head()

pos y
.               9
-34.68475866    5
-34.66977709    4
-34.53476874    4
-34.54979510    4
Name: count, dtype: int64

In [39]:
hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
 21  KM_PK_EXTRAIDO         17 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(5), object(15)
memory usage: 119.8+ KB

***
***
## DataFrame comunas:

### Eliminar columnas no necesarias

In [40]:
# Se elmina la columna 'ID'
comunas_barrios_area = comunas_barrios_area.drop(['ID', 'OBJETO', 'PERIMETRO'], axis=1)

In [41]:
comunas_barrios_area.columns

Index(['COMUNAS', 'BARRIOS', 'AREA'], dtype='object')

In [42]:
# Renombra la columna 'COMUNAS'
comunas_barrios_area.rename(columns={'COMUNAS': 'Comuna', 'BARRIOS': 'Barrios', 'AREA': 'Area'}, inplace=True)

In [43]:
# Visualizar como quedo el DataFrame
comunas_barrios_area.head()

   Comuna                                  Barrios          Area
0       2                                 RECOLETA  6.317265e+06
1       5                          ALMAGRO - BOEDO  6.660603e+06
2       6                                CABALLITO  6.851029e+06
3       7                FLORES - PARQUE CHACABUCO  1.242290e+07
4       9  LINIERS - MATADEROS - PARQUE AVELLANEDA  1.650531e+07

***
***
### Unir los dos Dataframe para tener los barrios de las comunas

In [44]:
# Merge entre DataFrames
hechos = hechos.merge(comunas_barrios_area[['Comuna', 'Barrios']], left_on='COMUNA', right_on='Comuna', how='left')

In [45]:
# Informacion general
hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
 21  KM_PK_EXTRAIDO         17 non-null     object
 22  Comuna                 694 non-null    float64
 23  Barrios                694 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(5), object(16)
memory usage: 130.6+ KB

In [46]:
# Visualizar los 5 primero registros del DataFrame
hechos.head()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO,KM_PK_EXTRAIDO,Comuna,Barrios
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO,NaN,8.0,VILLA LUGANO - VILLA RIACHUELO - VILLA SOLDATI
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.",NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS,NaN,9.0,LINIERS - MATADEROS - PARQUE AVELLANEDA
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,ENTRE RIOS AV.,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO,NaN,1.0,CONSTITUCION - MONTSERRAT - PUERTO MADERO - RE...
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,LARRAZABAL AV.,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD,NaN,8.0,VILLA LUGANO - VILLA RIACHUELO - VILLA SOLDATI
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,SAN JUAN AV.,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS,NaN,1.0,CONSTITUCION - MONTSERRAT - PUERTO MADERO - RE...

In [47]:
# Ordenar las columnas
columnas_ordenadas = ['ID', 'N_VICTIMAS', 'FECHA', 'AAAA', 'MM', 'DD', 'HORA', 'HH',
       'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE', 'Calle', 'Altura', 'Cruce',
       'Dirección Normalizada', 'COMUNA', 'Barrios', 'XY (CABA)', 'pos x', 'pos y',
       'PARTICIPANTES', 'VICTIMA', 'ACUSADO']
hechos = hechos[columnas_ordenadas]

***
***
##  DataFrame comunas_habitantes:

### Visualizacion general

In [48]:
# Visualizacion general
comunas_habitantes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   COMUNA     15 non-null     int64
 1   POBLACION  15 non-null     int64
dtypes: int64(2)
memory usage: 368.0 bytes

In [49]:
# observar los 5 primeros registros
comunas_habitantes.head()

   COMUNA  POBLACION
0       1     253271
1       2     149720
2       3     192763
3       4     238809
4       5     186956

### Realiza un Merge entre los DataFrames para contar con toda la informacion

In [50]:
# Genera la Union de los DataFrame 
hechos = hechos.merge(comunas_habitantes[['COMUNA', 'POBLACION']], on='COMUNA', how='left')

In [51]:
# Ordena las columnas 
columnas_ordenadas = ['ID', 'N_VICTIMAS', 'FECHA', 'AAAA', 'MM', 'DD', 'HORA', 'HH',
       'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE', 'Calle', 'Altura', 'Cruce',
       'Dirección Normalizada', 'COMUNA', 'Barrios', 'POBLACION', 'XY (CABA)', 'pos x',
       'pos y', 'PARTICIPANTES', 'VICTIMA', 'ACUSADO']
hechos = hechos[columnas_ordenadas]

***
### Visualizacion del DataFrame Luegi del Procesamiento

In [52]:
hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  Barrios                694 non-null    object
 16  POBLACION              694 non-null    float64
 17  XY (CABA)              696 non-null    object
 18  pos x                  696 non-null    object
 19  pos y                  696 non-null    object
 20  PARTICIPANTES          696 non-null    object
 21  VICTIMA                696 non-null    object
 22  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(5), object(15)
memory usage: 125.2+ KB

In [53]:
hechos.head()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Altura,Cruce,Dirección Normalizada,COMUNA,Barrios,POBLACION,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,VILLA LUGANO - VILLA RIACHUELO - VILLA SOLDATI,226649.0,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.",NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,LINIERS - MATADEROS - PARQUE AVELLANEDA,170605.0,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,ENTRE RIOS AV.,2034.0,NaN,ENTRE RIOS AV. 2034,1,CONSTITUCION - MONTSERRAT - PUERTO MADERO - RE...,253271.0,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,LARRAZABAL AV.,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,VILLA LUGANO - VILLA RIACHUELO - VILLA SOLDATI,226649.0,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,SAN JUAN AV.,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,CONSTITUCION - MONTSERRAT - PUERTO MADERO - RE...,253271.0,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

***
### Renombrar columnas

In [54]:
# Renombrar las columnas del DataFrame
hechos = hechos.rename(columns={'ID': 'Id', 'N_VICTIMAS': 'N°_Victimas', 'FECHA': 'Fecha_Hechos', 'AAAA': 'Año_Hechos', 'MM': 'Mes_Hechos', 'DD': 'Dia_Hechos', 'HORA': 'Hora_Completa_Hechos', 'HH': 'Hora_Hechos',
       'LUGAR_DEL_HECHO': 'Lugar_Del_Hecho', 'TIPO_DE_CALLE': 'Tipo_De_Calle', 'COMUNA': 'Comuna', 'POBLACION': 'Poblacion', 'XY (CABA)': 'Geo_Localizacion',
       'pos x': 'Longitud', 'pos y': 'Latitud', 'PARTICIPANTES': 'Participantes', 'VICTIMA': 'Victima', 'ACUSADO': 'Acusado'})

In [55]:
hechos.head()

,Id,N°_Victimas,Fecha_Hechos,Año_Hechos,Mes_Hechos,Dia_Hechos,Hora_Completa_Hechos,Hora_Hechos,Lugar_Del_Hecho,Tipo_De_Calle,Calle,Altura,Cruce,Dirección Normalizada,Comuna,Barrios,Poblacion,Geo_Localizacion,Longitud,Latitud,Participantes,Victima,Acusado
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,VILLA LUGANO - VILLA RIACHUELO - VILLA SOLDATI,226649.0,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.",NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,LINIERS - MATADEROS - PARQUE AVELLANEDA,170605.0,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,ENTRE RIOS AV.,2034.0,NaN,ENTRE RIOS AV. 2034,1,CONSTITUCION - MONTSERRAT - PUERTO MADERO - RE...,253271.0,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,LARRAZABAL AV.,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,VILLA LUGANO - VILLA RIACHUELO - VILLA SOLDATI,226649.0,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,SAN JUAN AV.,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,CONSTITUCION - MONTSERRAT - PUERTO MADERO - RE...,253271.0,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

***
### Modificacion tipo de variable

In [58]:
# Cambiar tipo de varaiables 
hechos['Hora_Completa_Hechos'] = pd.to_datetime(hechos['Hora_Completa_Hechos'], format='%H:%M:%S', errors='coerce')
hechos['Hora_Hechos'] = hechos['Hora_Hechos'].apply(lambda x: int(x) if x != 'SD' else x)
hechos['Poblacion'] = hechos['Poblacion'].apply(lambda x: int(x) if x != 'SD' and not pd.isna(x) else np.nan)
hechos['Latitud'] = pd.to_numeric(hechos['Latitud'], errors='coerce')
hechos['Longitud'] = pd.to_numeric(hechos['Longitud'], errors='coerce')

***
### Guardado en Formato Excel

In [59]:
# Guardar DataFrame transformado
hechos.to_excel('hechos_comuna_habitantes.xlsx', index=False)

***
***